<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MzaziConnectApplication"
        tools:targetApi="31">
        <activity

            android:name=".ui.Shops"
            android:exported="false" />
        <activity
            android:name=".ui.AssignmentView"
            android:exported="false" />
        <activity
            android:name=".ui.SubjectAssignmentsActitvity"
            android:exported="false" />
        <activity
            android:name=".ui.SubjectChoosenAssignments"
            android:exported="false" />
        <activity
            android:name=".ui.ChildGrade"
            android:exported="false" />
        <activity
            android:name=".ui.ViewChild"
            android:exported="false"/>
        <activity
            android:name=".ui.CommentsActivity"
            android:exported="false"
            android:label="@string/title_activity_comments"
            android:theme="@style/Theme.MzaziConnectApplication" />
        <activity
            android:name=".ui.Assign_detailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SubjectAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SingleSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ParentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LogoutActivity"
            android:exported="false"
            android:label="@string/title_activity_logout"
            android:theme="@style/Theme.MzaziConnectApplication" />
        <activity
            android:name=".ui.SwitchUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NavActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SubjectActivity"
            android:exported="false"
            android:theme="@style/Theme.MzaziConnectApplication" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChooseUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>